body {
    font-family: 'Lato', system-ui, sans-serif;
}

.ff-body,
.ff-theme {
    font-family: 'Lato', system-ui, sans-serif !important;
}



.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar .nav-link.active {
    border-bottom: 3px solid $primary;
    padding-bottom: 0.3rem;
}